body {
  background-image: url(./assets/HalloweenBG6.png);
  background-size: cover;
  background-color: rgb(137, 17, 184);
  font-family: "Syne Mono", monospace;
  background-position: center;
}

.head {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  color: antiquewhite;
}
.sub-head {
  font-size: 30px;
  color: antiquewhite;
  margin: 0 20%;
  margin-bottom: 3%;
}
.sub {
  font-size: 25px;
  color: antiquewhite;
  margin: 5%;
  text-align: justify;
}
.container-box {
  overflow: hidden;
  display: block;
}
#glass {
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.fa {
  font-size: 25px;
  margin: 7px;
  margin-top: 5%;
}
.sub-head-s {
  font-size: 30px;
  font-weight: 700;
  color: antiquewhite;
  text-align: center;
  margin-bottom: 3%;
  margin-left: 5%;
}
